@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<p role="status">
    No. between 0 and current count: @randomNo
    <span style="color:@(randomNo == 4 ? "red" : "black")">
        @randomNo
    </span>

</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;
    private Random _random = new();
    private int randomNo = 0;

    private void IncrementCount()
    {
        currentCount++;
        randomNo = _random.Next(currentCount + 1);

    }



}
